<h1>Đây là to shop bán hàng của tôi</h1>

<div class="containerItem">
@for (item of products; track $index) {
  <div> 
    <div class="card">
    <img [src]="item.img">
    <p>{{item.name}}</p>
    <p>{{item.price}}</p>
    <p>{{item.inStock}}</p>

    <button [disabled]="item.inStock != 0 ?false:true" (click)="this.addToCart($index)" >thêm vào giỏ hàng</button>
    </div>
  </div>
}
</div>

<div>
<h1>Giỏ hàng </h1>

<ol>
@for (item of cart; track $index) {
  <li><p>{{item.name}}</p>
    <p>{{item.price}}</p>
    <p>{{item.quantity}}</p>
  </li>  
  <button (click)="deletefromCart($index)">Xóa</button>
  
}
@empty {
    <h2>không có gì cả</h2>
  }
</ol>
</div>
<!-- <button (click)="totalcost()">Thanh toán</button> -->
 <label>Tổng cộng</label>
<label>{{this.total}}</label>